html{
	background-color:#121212;
	font-size:16px;
	font-family:arial;
}
body{
	margin:0;
	padding:4px 0;
}
i{
	font-style:normal;
}
#container{
	margin:auto;
	width:500px;
	height:100%;
	background-color:#f2f3f4;
}
#context{height:76%}

#top{
	height:12%;
	border-radius:50%/10%;
}
#currency{
	margin-bottom:5px;
}
#diamonds{
	display:inline-block;
	width:15%;
	color:#0ac;
}
#diamonds i{
	color:#565656;
	text-align:center;
}
#money{
	margin:0;
	width:60%;
	margin-left:24%;
	display:inline-block;
	color:#2b2b2b;
}
#zero{
	display:inline-block;
	width:10%;
	text-align:center;
	color:#565656;
}
progress{
	width:79%;
	-webkit-appearance:none;
	appearance:none;
}
#progressObjective{
	display:inline-block;
	width:9%;
	text-align:center;
	color:#565656;
}
#progressLabels{
	width:100%;
	margin-top:5px;
}
#progressLabel{
	background-color:#0c8;
	z-index:2;
	border-radius: 2px;
	color:#f2f3f4;
	text-align:center;
	position:relative;
	padding:2px;
	left:8%;
}
#progressLabel:before{
	bottom:100%;
	left:50%;
	border:solid transparent;
	content:'';
	height:0;
	width:0;
	position:absolute;
	border-bottom-color:#0c8;
	border-width:10px;
	margin-left:-10px;
}
#progressRecord{
	background-color:#80c;
	border-radius: 2px;
	color:#f2f3f4;
	text-align:center;
	position:relative;
	padding:2px;
	left:68%;
}
#progressRecord:before{
	bottom:100%;
	left:50%;
	border:solid transparent;
	content:'';
	height:0;
	width:0;
	position:absolute;
	border-bottom-color:#80c;
	border-width:10px;
	margin-left:-10px;
}
#objective{
	width:100%;
	display:inline-block;
	color:#565656;
	text-align:center;
}
#topButtons{
	margin-top:2px;
	text-align:center;
	letter-spacing:60px;
}
#topButtons button{
	border:none;
	background-color:#0c8;
	color:#fff;
	border-radius:10%/15%;
	width:15%;
	height:25px;
	font-size:18px;
}
#buttonNotification{
	width:15px;
	height:15px;
	color:#80c;
	position:absolute;
}

#bot{
	height:12%;
	border-radius:50%/10%;
}
#botButtons{
	margin:auto;
	text-align:center;
	letter-spacing:60px;
	width:100%;
	border-bottom:3px solid;
	border-color:#f25;
}
#botButtons button{
	border:none;
	color:#fff;
	border-radius:10%/15%;
	width:15%;
	height:25px;
	vertical-align:middle;
	font-size:18px;
}
#strength{
	background-color:#f25;
}
#speed{
	background:url(../img/races.svg) no-repeat center;
	background-color:#25f;
}
#bounciness{
	transform:scale(-1,1);
	background-color:#5f2;
	z-index:0;
}
#income{
	background-color:#ffd700;
}
#statProgression{
	padding-top:10px;
	color:#565656;
	width:65%;
	display:inline-block;
	height:60px;
	text-align:center;
	line-height:25px;
}
#title{
	color:#2b2b2b;
	vertical-align:middle;
}
#level{
	font-weight:bold;
	color:#2b2b2b;
	vertical-align:middle;
}
#desc{
	vertical-align:middle;
}
#upgrade{
	margin-left:20px;
	display:inline-block;
	border:none;
	vertical-align:middle;
	height:60px;
	color:#f2f3f4;
	background-color:#f25;
}
#popup{
	position:fixed;
	width:250px;
	height:30%;
	margin:0 125px;
	z-index:5;
	top:30%;
	border-radius:10px;
	background-color:#f2f3f4;
	transition:1s ease-in-out;
}
.popupContainer{
	height:90%;
	margin:5% 5px;
	font-size:25px;
	text-align:center;
	color:#565656;
	line-height:32px;
}
#earning{
	font-size:30px;
	color:#2b2b2b;
	font-weight:bold;
}
#collect, #collectDouble{
	border:none;
	padding:12px 0;
	border-radius:5px;
	width:60%;
}
#collect{
	background-color:#0c8;
	color:#f2f3f4;
}
#collectDouble{
	background-color:#80c;
	color:#f2f3f4;
}
.close{
	display:inline-block;
	position:absolute;
	right:10px;
	top:5px;
	cursor:pointer;
	transition:.4s ease-in-out;
}
.close:hover{
	color:#f0c;
}